<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSI Graph</title>
    {% load static %}
</head>

<body>
    <h1>RSI Graph</h1>

    {% if image_path %}
    <img src="{% static image_path %}" alt="RSI Graph">
    {% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" />
        <button type="submit">Generate RSI Graph</button>
    </form>
    {% endif %}
</body>

</html>